:root {
  --main-bg-color: #EF5B25;
  --second-bg-color: #565656;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.attribution {
  font-style: italic;
  padding: 10px 0 10px 80px;
}

/* Jumbotron */

.jumbotron {
  padding: 2rem 1rem;
  /* margin-bottom: 2rem; */
  background-color: #e9ecef;
  border-radius: .3rem;
}

.jumbotron-contents {
  padding: 20px 0 0 65px;
}

.cta {
  background-color: var(--main-bg-color) !important;
  border-color: var(--main-bg-color) !important;
}

/* Resources */

.cta-lower {
  text-align: center;
  padding: 20px 0 60px 0;
}

a {
  color: var(--main-bg-color) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--second-bg-color) !important
}

.resources {
  background-color: #e9ecef;
  padding: 2rem 1rem;
}

.resources-contents {
  padding: 0 20px 60px 80px;
}

