.item-list {
    padding: 20px;
}

.checkbox {
    padding: 4px;
}

.item-summary {
    padding: 0 5px;
}

.item-counter {
    font-weight: bold;
    color: #63666A;
}

.item-message {
    color: #63666A;
}