.item-list {
    padding: 20px 20px 60px 30px;
}

.checkbox {
    padding: 4px;
}

.item-summary {
    padding: 15px 0 15px 0;
}

.item-counter {
    font-weight: bold;
    color: var(--second-bg-color);
    padding-top: 30px;
}

.item-message {
    color: var(--second-bg-color);
}

.labelWithResources {
    float: right;
}
